* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav {
  height: 10%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  /* background-color: transparent; */
}
.navLink {
  text-decoration: none;
  color: black;
}

.namediv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.bmenu {
width: 70%;
display: flex;
align-items: center;
justify-content: end;
padding: 10px;
}
.main {
  /* height: calc(100%-200px); */
 flex-grow: 1;
  background-color: rosybrown;
}
.footer {
  height: 10%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
